body{
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
	font-size: 100%
}

header{
	height: 800px;
	background-image: url(assets/campers.jpg);
	background-size: cover;
	background-position: absolute;
	background-attachment: fixed;
	background-color: gray;
}
header h1{
	width: 60%;
	margin: auto;
	vertical-align: middle;
	top: 15%;
	text-align: center;
	font-size: 5em;
	color: white;
	transform: translateY(200px);
	border: 7px solid white;
	padding: 2%;
}

section, div, header, footer{
	width: 100%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%;
}
h2{
	font-size: 3em;
	color: black;
	width: 40%;
	text-align: center;
	border-bottom: 5px solid blue;
	margin: auto;
}
section.one{
	background-color: skyblue;
}
div.social{
	height: 300px;
}
div.social figure{
	width: 29%;
	padding: 1%;
}
div.social figure img{
	display: inline-block;
	width: 60%;
	margin: auto;
	padding: 1%;
}
div.social figure figcaption{
	font-size: 1.3em;
	color: gray;
	text-align: center;
	padding: 1.7%;
}

section.two{
	background-color: turquoise;
}
h3{
	font-size: 2.5em;
	color: black;
	width: 20%;
	text-align: center;
	margin: auto;
	padding-top: 3%;
}
div.com img{
	width: 33%;
	margin: 0;
	padding: 0;
}
footer{
	padding: 2.5%;
	background-color: black;
}
footer h2{
	color: white;
}